*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
body{
    background:#9558f8;
    color:white;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    overflow:hidden;
}
/* Header */
header{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:25px;
    padding:20px;
}
.photo-card{
    width:130px;
    height:130px;
}
.photo-card img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:12px;
    box-shadow:0 0 15px rgba(255,255,255,.25);
}
.info h1{
    font-size:42px;
}
.info h2{
    font-size:22px;
    font-weight:500;
}
.info p{
    margin-top:8px;
    font-size:14px;
    opacity:.8;
}
/* Lyrics */
.lyrics{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.middle{
    display:flex;
    gap:220px;
    margin:55px 0;
}
.word{
    font-size:38px;
    font-weight:bold;
    color:#E9D5FF;
    transition:.3s;
}
.active{
    color:white;
    transform:scale(1.1);
    text-shadow:0 0 12px white;
}
/* Responsive */

@media(max-width:768px){
    header{
        flex-direction:column;
        text-align:center;
    }
    .middle{
        gap:90px;
    }
    .photo-card img{
        width:95px;
        height:135px;
    }
    .word{
        font-size:28px;
    }
    .info h1{
        font-size:32px;
    }
    .info h2{
        font-size:18px;
    }
}